.contenedor{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 200px 100px 200px;
    
    /* indica la orientación de los bloques */
    /* grid-auto-flow: row; */

    /* ajusta los bloques para rellenar os campos que esten vacios
       por el tamaño de los bloques */
    /*grid-auto-flow: column dense;*/
    grid-auto-flow: dense;
    

    /* tamaño que tendran los bloques que esten fuera de la grid
       indicada con grid-template-columns y grid-template-rows*/
    grid-auto-rows: 100px;
    grid-auto-columns: 100px;
}

.contenedor .span2{
    grid-column: span 2;
    background: #ff8000;
}

.contenedor .span3{
    grid-column: span 3;
    background: #575757;
}